<h2>All Superpowers</h2>
<h1> Search by Superpowers or Super Hero<h1>

<form accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="powers">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form>


<ul>
  <% @powers.each do |power| %>
    <li>
  <%= link_to power.name,(power)%>      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>
