<h2>All Heroines</h2>
<h4> <%= link_to('Want to create a heroine?', new_heroine_path) %></h4>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to(heroine.super_name, heroine_path(heroine)) %>
    </li>
    <br>
  <% end %>
</ul>
