<h1><%= @heroine.super_name %></h1>
<h3><%= "Secret Identity: #{@heroine.name}"%></h3>
<h3>Power: <%= link_to "#{@heroine.power.name}", power_path(@heroine.power) %></h3><br>

<br><%= link_to "Back to Heroines", heroines_path %>
